@mixin dijalog-clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin dijalog-circle($color, $size) {
    border: 3px solid $color;
    border-radius: 50%;
    height: $size;
    width: $size;
}
