@import "mixins";
@import "keyframes";

@include keyframes-dijalog-fadein;

@include keyframes-dijalog-fadeout;

@include keyframes-dijalog-rotation;

.dijalog, 
.dijalog *, 
.dijalog *:before, 
.dijalog *:after {
    box-sizing: border-box;
}

.dijalog {
    position: fixed;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1111;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.dijalog-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

.dijalog-overlay {
    animation: dijalog-fadein 0.5s;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    .dijalog.dijalog-closing & {
        animation: dijalog-fadeout 0.5s;
    }
}

.dijalog-content {
    background: white;
    
    .dijalog.dijalog-closing &,
    .dijalog.dijalog-hiding & {
        animation: dijalog-fadeout 0.5s;
    }

    &.dijalog-hidden {
        display: none;
    }

    &.dijalog-visible {
        animation: dijalog-fadein 0.5s;
    }
}

.dijalog-close:before {
    font-family: Arial, sans-serif;
    content: "\00D7";
}

.dijalog-form {
    margin: 0;
}

.dijalog-button {
    appearance: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    text-rendering: optimizeLegibility;
}

.dijalog-spinner {
    @include dijalog-circle(#000, 11em);

    animation: dijalog-rotation 1.8s infinite linear;
    border-left-color: transparent;
    margin: 50px auto;
    position: relative;
    will-change: transform;

    &:before {
        @include dijalog-circle(#000, 9em);

        animation: dijalog-rotation 1.8s infinite linear;
        border-bottom-color: transparent;
        content: "";
        left: 1em;
        position: absolute;
        top: 1em;
    }

    &:after {
        @include dijalog-circle(#000, 7em);

        animation: dijalog-rotation 1.8s infinite linear;
        border-right-color: transparent;
        content: "";
        left: 2em;
        position: absolute;
        top: 2em;
    }
}

.dijalog-spinner-overlay {

}

// Prevent background scrolling when vex is open
// https://github.com/HubSpot/vex/issues/18
body.dijalog-open {
    overflow: hidden;
}
